*{
    padding: 0;
    margin: 0;
}

@media (max-width:385px) {
    .countryMainInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1%;
    }
    .countryMainTitleCountryDark{
        padding-bottom: 12%;
        font-size: 48px;
    }
    .countryPageInfoDark{
        font-size: 18px;
        padding: 3%;
    }
    .countryPageImg{
        display: flex;
        justify-content: center;
        padding: 2%;
        padding-right: 5%;

    }
    .countryPageCountryImg{
        border-radius: 8px;
    }
    .countryMainPageDark{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(49, 49, 58);
    }
    .mainCountrySection{
        color: white;
        padding: 2%;
        position: relative;
        background-color: rgb(49, 49, 58);
        border-radius: 8px;
    }
    .countryGoBackHomeButtonDark{
        margin: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 2%;
        width: 60px;
        color: white;
        border: none;
        background-color: rgba(128, 128, 128, 0.445);
    }
    .leftArrowButtonImage{
        padding-right: 10%;
    }
    /*Light Mode*/
    .countryGoBackHomeButtonLight{
        margin: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 2%;
        width: 60px;
        color: rgb(0, 0, 0);
        border: none;
        background-color: rgba(218, 218, 218, 0.445);
    }
    .countryMainPageLight{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255)09;
    }
}


