.mainPageCountriesSection{
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
}
.mainPageCountryCard{
    margin: 1%;
}
.mainPageImgCard{
    max-height: 148px;
}
.mainTextOfCountries{
    display: flex;
    font-weight: bold;
    margin: 0%;
}
.mainTextOfCountries p{
    font-weight: normal;
    padding-left:2% ;
}
.mainPageCardTitle{
    font-weight: bolder !important;
    font-size: 20px !important;
    
}
.mainLinkToCountries{
    text-decoration: none;
    color: black;
}

/*Dark Mode*/
.mainPageCountriesSectionDark{
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(38, 38, 43);
}
.mainLinkToCountriesDark{
    text-decoration: none;
    color: white;
}
.mainPageCountryCardDark{
    background-color: rgb(38, 38, 43);
}
.mainPageCardBodyDark{
    background-color:  rgb(38, 38, 43)  !important;
}